$font-stack: 'Open Sans', sans-serif
$color-blue: #15477a
$color-grey: rgb(221,221,221)
$color-text: #606060

body
  margin: 0
  font-family: $font-stack

p
  color: $color-text

h1
  color: $color-blue
  font-size: 1.85em
  margin: 0

header 
  background-color: #dddddd
  text-align: center
  position: fixed
  width: 100%

footer 
  background-color: #dddddd
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  text-align: center

.wrapper
  width: 1000px
  margin: 0 auto
  padding-top: 200px

.text-container
  width: 300px
  float: left

.slider
  width: 600px
  float: left
  margin-right: 20px

ul
    list-style: none
    display: flex
    float: right
    margin: 0

li
    display: inline

img
    margin: 0 0 5px 10px
    padding: 0
    height: 200px
    border-radius: 5px
    box-sizing: border-box

.second-row
    margin-right: 150px
    flex-direction: row

.arrows
  float: right

.previous
    border: 1px solid $color-grey
    border-radius: 5px
    color: $color-grey
    text-align: center
    margin: 0 0 10px 80px
    padding: 20px 25px

&:hover
    border-color: $color-blue
    color: $color-blue

.next
    @extend .previous
